@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Mono:wght@100&family=Roboto:wght@300;400&display=swap');

*{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}


body{
    background-image: linear-gradient(to right, rgba(46, 37, 37, 100), rgba(48, 40, 37, 100));
    margin: 0px;
}

header{
    width: 100vw;
    background-color: #333;
    margin: 0px;
}



.secondaryTitle{
    margin-left: 40px;
}

.navigation{
    width: 100%;
    display: flex;
    color: #fff;
    margin: 0px;
    justify-content: space-around;
}

.linksNavigation{
    display: flex;
    align-items: center;
    gap: 40px;
}

.listLink{
    list-style: none;
    margin: 0;
}

.listLink > a{
    color: #fff;
    font-size: 1.4em;
    margin: 0;
}
.listLink > a:hover{
    color: rgb(121, 100, 100);
    font-size: 1.5em;
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
   
}

.mainTop{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.mainSubtitle{
    align-self: center;
    font-size: 2.8rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainSubtitle > h3{
    margin-bottom: 15px; 
    border-bottom: 2px solid #fff;
    padding: 5px 17px 10px 17px;
}
.mainSubtitle > .skyrim{
    margin-top: 0px;
    border: none;
}

.mainParagraphs{
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.mainTop > img{
    align-self:flex-end;
    margin-right: 150px;
}

.paragraphs{
    align-self: center;
    color: #fff;
    font-size: 1.1em;
    display: flex;
    transition: 1s;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.pItem:hover{
    padding: 5px 17px 5px 17px;
    border-bottom: 2px solid #fff;

}

.galery{
    background-image: url('./public/skyrim_back.png');
    background-color: #cccccc;
    width: 100vw;
    height: 70vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.galeryNav{
    background-color: #333;
    width: 28vw;
    height: 40px;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    opacity: 0.6;
}
.galeryNav:hover{
    opacity: 0.9;
    transition: 0.3s;
}

.galeryNav > ul{
    display: flex;
    list-style: none;
    margin-right: 40px;
    gap: 40px;
    align-items: flex-end; 
    justify-content: flex-end;

}

.galeryNav li{
    color: #fff;
    font-size: 1.2rem;
    padding: 10px;
}
.galeryNav li:hover{
    color: rgb(139, 135, 135);;
}

.galeryFiles{
    margin-top: 5px;
    width: 38vw;
    height: 290px;
    display: flex;
    flex-wrap: wrap;
}

.galeryFiles > .gaImag{
    max-width: 33%;
    max-height: 149px;
    border-right: solid 2px black;
    width: auto;
    height: auto;
}
.galeryFiles > .gaVideo{
    max-width: 33%;
    max-height: 149px;
    width: auto;
    height: auto;
}

.renderMidia{
    width: 32vw;
    height: 347px;
   
}
.renderMidia > .renderImage{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    transition: .2s ease-out;
    
}

.renderMidia > .renderVideo{
    max-width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
}
.imgOpen{
    
    width: 100%;
    height: 100%;
}

.imagOpen{
    display: none;
    width: 60vw;
    height: 70vh;
    position: absolute;
    left: 20%;
    top: 80%;
}

.renderImage:hover{
    position: absolute;
    width: 60vw;
    height: 60vh;
    top: 90%;
    border: solid 1px #333;
    box-shadow: 5px 5px 5px black;
}

footer{
    width: 100vw;
    height: 20vh;
    background-color: #333;
    opacity: 0.7;
    margin: 0px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a:hover {
    border-bottom: solid 1px #fff;
}
footer > ul{
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .linkContact{
    list-style: none;
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

footer >.developer{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.developer > a{
    color: #fff;
    font-size: 1.2rem;
}

.comunity{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comunity > a {
    color: #fff;
    font-size: 1.2rem;
}
.info{
    display: flex;
    flex-direction: column;
}
.info > a{
    color: #fff;
    font-size: 1.2rem;
}

.linkContact:hover{
    width: 70px;
    height: 50px;
    box-shadow: 2px 4px 8px rgb(27, 27, 27);
}
.linkContact > img{
    width: 90%;
    height: 100%;
}
