@font-face {
    font-family: Oswald;
    src: url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&family=Roboto+Mono:wght@100&display=swap");
}

body{
    background-color: rgb(131, 243, 247);
    margin: 0px;
    font-family: Oswald;
    
}

nav{
    width: 100vw;
    height: 10vh;
    background-color: '#fff';
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
}
li{
    margin-left: 2vw;
    font-size: 1.5rem;
}

 a{
    text-decoration: none;
    color: #000;
}

section{
    background-color: #fff;
   
    height: 70vh;
    width: 100vw;
    display:grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

section > span{
   grid-row:  2 / span 3;
   grid-column: 2 / span 3; 
}

span > h2{
    font-size: 3.7rem;
    margin-bottom: 0px;
}

span > p {
    font-size: 1.4rem;
}

section > div {
    grid-row: 3 / 4;
    grid-column: 1 / span 4;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

div > button{
    width: 14vw;
    height: 8vh;
    border-radius: 500px;
    border: solid 1px rgb(210, 210, 245);
    margin: 2vw;
    font-size: 1.1rem;
}

.image{
    
    grid-column: 5 / span 6;
    grid-row: 2 / span 3;
    width: 32vw;
    height: 58vh;
    background-color: #fff;
    
}

a > img{
    width: 40px;
    height: 40px;
    margin-left: 2vw;
    
}

footer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 20vh;
    
}

footer > h3{
    margin-left: 20px;
}


.response{
    display: none;
    flex-direction: column;
    width: 15vw;
    height: 20vh;
    justify-content: center;
    align-items: center;
}

.response > button{
    width: 30vw;
    height: 10vh;
}

a:hover{
    color: #1ed760;
}

button:hover{
    border-bottom: solid 2px black ;
    border-right: solid 2px black;
}

@media (max-width: 1000px){
    .image{
        width: 22vw;
        height: 18vh;
        margin-top: 5vh;
    }

    body{
        display: flex;
        flex-direction: column;
    }

    section{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80vh;
    }
    .btn{
       display: none;
    }

    .response{
        display: flex;
    }
    ul{
        display: none;
    }
}